@using System.Resources
@model IEnumerable<AP2_MVC_DOTNET.ViewModels.AllergieViewModel>

@{
    ViewBag.Title = "Allergies";
}

<h2>Liste des Allergies</h2>
<div>
    <div class="col text-right">
        <input type="text" id="searchInput" class="form-control" placeholder="Rechercher un patient...">
        <div class="text-start mt-1">
            <a href="@Url.Action("Add", "Allergie")" class="btn btn-primary open-modal" data-title="Ajouter une allergie">Ajouter une allergie</a>
        </div>
    </div>
    <br/>
    <table class="table-responsive-md table table-hover table-bordered" style="border-radius: 1rem ; overflow: hidden">
        <thead>
        <tr>
            <th style="background:#007bff; color: white">
                Allergie
            </th>
            <th style="background:#007bff; color: white">
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var allergie in Model)
        {
            <tr class="row-allergie">
                <td class="name-allergie">
                    @allergie.Allergie.Libelle_al
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Allergie", new { id = allergie.Allergie.AllergieId })" class="btn btn-warning open-modal" data-title="Modifier l'allergie">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="@Url.Action("Delete", "Allergie", new { id = allergie.Allergie.AllergieId })" class="btn btn-danger open-modal" @(allergie.Patients.Any() ? "hidden" : allergie.Medicaments.Any() ? "hidden" : "") data-title="Supprimer l'allergie">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="modal fade" id="allergieModal" tabindex="-1" aria-labelledby="allergieModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="allergieModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Contenu Popup -->
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById('searchInput').addEventListener('keyup', function() {
            var searchText = this.value.toLowerCase();
            var patientCards = document.querySelectorAll('.row-allergie');
            patientCards.forEach(function(card) {
                var patientName = card.querySelector('.name-allergie').textContent.toLowerCase();
                if (patientName.includes(searchText)) {
                    card.style.display = '';
                } else {
                    card.style.display = 'none';
                }
            });
        });
    document.addEventListener('DOMContentLoaded', function () {
        const modal = new bootstrap.Modal(document.getElementById('allergieModal'));
        const modalTitle = document.getElementById('allergieModalLabel');
        const modalBody = document.querySelector('#allergieModal .modal-body');

        document.querySelectorAll('.open-modal').forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                const url = this.getAttribute('href');
                const title = this.getAttribute('data-title');

                fetch(url)
                    .then(response => response.text())
                    .then(html => {
                        modalTitle.textContent = title;
                        modalBody.innerHTML = html;
                        modal.show();
                    })
                    .catch(error => console.error('Error loading modal content:', error));
            });
        });
    });
</script>